Example/Pods/*
Example/Flash.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.DS_Store
Example/Flash.xcodeproj/xcuserdata/*
Example/Flash.xcworkspace/xcuserdata/*
xcuserdata
Example/Pods/
Example/Podfile.lock